[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
langchain = "*"
openai = "*"
langchain-community = "*"
langchain-openai = "*"
pandas = "*"
langchain-text-splitters = "*"
langgraph = "*"
pypdf = "*"
unstructured = "*"
markdown = "*"
starlette = "*"
psycopg2-binary = "*"
shinylive = "*"
shiny = {extras = ["shinylive"], version = "*"}
boto3 = "*"
awswrangler = "*"
fastapi = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.10"
